page-login {
    .bg{
       
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .button{ 
        width: 120px;
        
        border-radius: 6px !important

    }
    
}
